@font-face {
  font-family: "Verdana";
  src: local("Verdana"), url(./assets/fonts/Verdana\ Ref.ttf) format("ttf");
}

@font-face {
  font-family: "Impact";
  src: local("Impact"), url(./assets/fonts/impact.ttf) format("ttf");
}

html,
body {
  margin: 0;
  padding: 0;
  background: gray url(https://subtlepatterns.com/patterns/geometry2.png) repeat
    0 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-animation: slide 20s linear infinite;
  font-family: "Verdana", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
}

@-webkit-keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -400px 0;
  }
}

button {
  width: 130px;
  height: 40px;
  -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #ffffff),
    color-stop(1, #f6f6f6)
  );
  background: -moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: -webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: -o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: -ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  position: relative;
  border-bottom: 4px solid #cdcdcd;
  font-weight: 600;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  font-size: 15px;
  text-align: left;
  text-indent: 5px;
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;

  /* Just for presentation */
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
button:active {
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
  top: 1px;
}

button:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-top: 20px solid #cdcdcd;
  border-bottom: 20px solid #cdcdcd;
  border-left: 16px solid transparent;
  border-right: 20px solid #cdcdcd;
  position: absolute;
  opacity: 0.6;
  right: 0;
  top: 0;
  border-radius: 0 5px 5px 0;
}

button.back {
  text-align: right;
  padding-right: 12px;
  box-sizing: border-box;
}
button.back:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-top: 20px solid #cdcdcd;
  border-bottom: 20px solid #cdcdcd;
  border-right: 16px solid transparent;
  border-left: 20px solid #cdcdcd;
  position: absolute;
  opacity: 0.6;
  left: 0;
  top: 0;
  border-radius: 5px 0 0 5px;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none
}